@import "normalize.css/normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Melodrama-Variable";
	src: url("/font/Melodrama-Variable.woff2")
			format("woff2"),
		url("/font/Melodrama-Variable.woff")
			format("woff"),
		url("/font/Melodrama-Variable.ttf")
			format("truetype");
	font-weight: 300 700;
	font-display: swap;
	font-style: normal;
}
body {
	font-family: "Melodrama-Variable";
	background-color: #fff;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar {
	display: none;
}

h1 {
	font-size: clamp(1.6rem, 30vw, 3rem);
	font-weight: 400;
	margin: 0rem 0rem 1rem 0rem;
}
