@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

body::-webkit-scrollbar {
	display: none;
	}

.title {
	font-size: clamp(4.5rem, 0.2609rem + 17.3913vw, 12rem);
	font-style: italic;
	font-weight: 700;
	letter-spacing: clamp(0.2rem, 0.0304rem + 0.6957vw, 0.5rem);
	line-height: 0.7;
	}

.quote1 {
	font-size: clamp(0.6rem, 0.487rem + 0.4638vw, 0.8rem);
	font-style: italic;
	font-weight: 600;
	letter-spacing: clamp(0.3rem, 0.187rem + 0.4638vw, 0.5rem);
	}

.s1Parent {
	background-blend-mode: overlay;
	background-color: rgba(0 0 0 / 0.1);
	display: grid;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	overflow: hidden;
	}

.s1Div1 {
	grid-area: 2 / 1 / 3 / 4;
	}

.s1Div2 {
	grid-area: 3 / 2 / 4 / 4;
	}

.achievements > li {
	background-color: rgb(0, 211, 77);
	border: 2px solid rgb(0, 0, 0);
	border-radius: 3px;
	box-shadow: 8px 5px 5px rgb(0, 0, 0);
	color: rgb(255, 249, 248);
	font-size: clamp(0.7rem, 0.587rem + 0.4638vw, 0.9rem);
	font-weight: 500;
	margin-bottom: 8px;
	margin-right: 5px;
	overflow: hidden;
	padding: 5px;
	}

.s2Parent {
	background-color: rgb(240, 240, 240);
	height: fit-content;
	}

blockquote {
	font-size: clamp(1rem, 0.887rem + 0.4638vw, 1.2rem);
	font-style: italic;
	font-weight: 600;
	}

figcaption {
	font-size: clamp(0.8rem, 0.687rem + 0.4638vw, 1rem);
	font-weight: 500;
	padding: 2px 0 0 0;
	}

.products {
	background-color: rgb(240, 240, 240);
	height: fit-content;
	}

.errorMessage {
	color: rgb(255, 0, 0);
	font-size: clamp(0.7rem, 0.587rem + 0.4638vw, 0.9rem);
	font-weight: 600;
	}

.productCard {
	background-color: rgb(245, 245, 245);
	}

.productName {
	font-size: clamp(1rem, 0.887rem + 0.4638vw, 1.2rem);
	font-style: italic;
	font-weight: 600;
	}

.productDetails {
	font-size: clamp(0.8rem, 0.687rem + 0.4638vw, 1rem);
	font-weight: 500;
	margin-bottom: 8px;
	}

.productPrice {
	font-size: clamp(0.8rem, 0.687rem + 0.4638vw, 1rem);
	font-weight: 600;
	margin-bottom: 8px;
	}

@media screen and (min-width: 801px) {
	#intro-video {
		max-width: 800px;
		padding-right: 20px;
		}
	}
